@CHARSET "UTF-8";
body {font-family:verdana; font-size:medium;}
#error-area {background-color:#FFFFC4; border-color:#FCF400; border-width:2px; border-style:solid;	color:#F80F00; width:90%; padding:0.25em; margin-left:10px; margin-right:20px; overflow:auto; display:none;}
#success-area {background-color:#C7FFB4; border-color:#00DC0D; border-width:2px; border-style:solid; color:#008C0D; width:90%; padding:0.25em; margin-left:10px; margin-right:20px; overflow:auto; display:none;}
#content-area { border:1px solid #DDDDDD; padding:0.5em; overflow:auto; }
#task-area {border:1px solid #DDDDDD; width:50%; padding:0.5em; float:right; z-index:100;}

/* Navigation */
#nav-menu-area {
    display: block;
    border-top: 4px solid #EEEEEE;
    height: 36px;
    line-height: 22px;
    padding: 2px 6px 2px 3px;
    margin: 0;
    font-size: 14px;
    color: #FFFFFF;
    clear:both;
}

#nav-right-area {
	position: absolute; 
	top: 50px; 
	right: 0;
	display: none;
	background: #ffffff;
	border:1px solid #111111;
	width: 30%;
	height: auto;
	padding: 30px 30px 30px 30px;
	z-index: 501;
}
#nav-left-area { 
	position: absolute; 
	top: 50px; 
	left: 0;
	display: none;
	background: #ffffff;
	border:1px solid #111111;
	width: 30%;
	height: auto;
	padding: 30px 30px 30px 30px;
	z-index: 500;
}
.jd-right {float: right;}
.jd-clear {clear:both;}
.ui-hide{ display:none; }
.ui-error{ color:red; }

#nav-right-img { float:right }
#nav-left-img { float:left }
#nav-loggedin { float:right; color:#FFFFFF; }

/* Login */

.jd-login-wrapper { width: 400px; margin: 0px auto; text-align: left;}

.jd-preview-image { width: 100px; height: 100px;}
.ui-tabs-vertical { width: 55em; }
.ui-tabs-vertical .ui-tabs-nav { padding: .2em .1em .2em .2em; float: left; width: 12em; }
.ui-tabs-vertical .ui-tabs-nav li { clear: left; width: 100%; border-bottom-width: 1px !important; border-right-width: 0 !important; margin: 0 -1px .2em 0; }
.ui-tabs-vertical .ui-tabs-nav li a { display:block; }
.ui-tabs-vertical .ui-tabs-nav li.ui-tabs-active { padding-bottom: 0; padding-right: .1em; border-right-width: 1px; border-right-width: 1px; }
.ui-tabs-vertical .ui-tabs-panel { padding: 1em; float: right; width: 40em;}
.ui-tabs .ui-tabs-panel {padding: 0.5em;}
.ui-tabs .ui-tabs-nav li a {padding: 0.2em 0.5em; font-size: 14px;}
.pm-posted { margin: 0 1em 1em 0; }
.pm-posted-header { margin: 0.3em; padding-bottom: 4px; padding-left: 0.2em; }
.pm-posted-header .ui-icon { float: right; }
.pm-posted-content { padding: 0.4em; }
.ui-sortable-placeholder { border: 1px dotted black; visibility: visible !important; height: 50px !important; }
.ui-sortable-placeholder * { visibility: hidden; }
	
.ui-posted { font-family: Trebuchet MS, Tahoma, Verdana, Arial, sans-serif; font-size: 0.75em; }
.ui-posted .ui-posted { font-size: 0.75em; }
.ui-posted input, .ui-posted select, .ui-posted textarea, .ui-posted button { font-family: Trebuchet MS, Tahoma, Verdana, Arial, sans-serif; font-size: 1em; }
.ui-posted-content { border: 1px solid #dddddd; background: #ffff99 url(/x/css/ui-lightness/images/ui-bg_highlight-soft_100_eeeeee_1x100.png) 50% top repeat-x; color: #333333; }
.ui-posted-content a { color: #333333; }
.ui-posted-header { border: 1px solid #dfdf00; background: #ffff84 url(/x/css/ui-lightness/images/ui-bg_gloss-wave_35_f6a828_500x100.png) 50% 50% repeat-x; color: #333333; font-weight: bold; }
.ui-posted-header a { color: #ffffff; }

.ui-posted-content-purple { border: 1px solid #dddddd; background: #cacaff url(/x/css/ui-lightness/images/ui-bg_highlight-soft_100_eeeeee_1x100.png) 50% top repeat-x; color: #333333; }
.ui-posted-content-purple a { color: #333333; }
.ui-posted-header-purple { border: 1px solid #8c8cff; background: #bbbbff url(/x/css/ui-lightness/images/ui-bg_gloss-wave_35_f6a828_500x100.png) 50% 50% repeat-x; color: #333333; font-weight: bold; }
.ui-posted-header-purple a { color: #ffffff; }
.ui-posted-content-green { border: 1px solid #dddddd; background: #aafd8e url(/x/css/ui-lightness/images/ui-bg_highlight-soft_100_eeeeee_1x100.png) 50% top repeat-x; color: #333333; }
.ui-posted-content-green a { color: #333333; }
.ui-posted-header-green { border: 1px solid #61f33e; background: #79fc4e url(/x/css/ui-lightness/images/ui-bg_gloss-wave_35_f6a828_500x100.png) 50% 50% repeat-x; color: #333333; font-weight: bold; }
.ui-posted-header-green a { color: #ffffff; }

.ui-error-message { color: red; border: 1px solid #61f33e; background: #79fc4e; font-size: 0.80em; }
.ui-box30 { width: 30%; min-width:310px; border:1px solid #DDDDDD; height:100%; margin-right: 10px; margin-left: 10px; margin-bottom:22px;}
.ui-box50 { width: 50%; min-width:310px; border:1px solid #DDDDDD; height:100%; margin-right: 10px; margin-left: 10px; margin-bottom:22px;}
.ui-box90 { width: 90%; min-width:310px; border:1px solid #DDDDDD; height:100%; margin-right: 10px; margin-left: 10px; margin-bottom:22px;}
.ui-boxColumn30 { width: 28%; min-width:310px; display:inline-block; vertical-align:top; border:1px solid #DDDDDD; background: #FFFFFF; height:100%; margin-right: 10px; margin-bottom: 10px;}
.ui-boxColumn50 { width: 48%; min-width:310px; display:inline-block; vertical-align:top; border:1px solid #DDDDDD; background: #FFFFFF; height:100%; margin-right: 10px; margin-bottom: 10px;}
.ui-boxColumn90 { width: 97%; min-width:310px; display:inline-block; vertical-align:top; border:1px solid #DDDDDD; background: #FFFFFF; height:100%; padding:5px 5px 5px 5px; margin-right: 5px; margin-bottom: 10px;}
.ui-boxFocus100 { width: 90%; min-height:400px; float:left; border:1px solid #DDDDDD; background: #FFFFFF; height:100%; -moz-border-radius: 10px; -webkit-border-radius: 10px; border-radius: 10px; padding:5px 5px 5px 5px; margin-right: 5px; margin-bottom: 10px;}
.jd-boxHeader {background-color:#4A87C7; color:#FFFFFF; font-size:13px; font-weight:bold; padding:8px 15px; margin-top: 5px;}
.ui-boxContent {padding:8px 15px; font-size:0.80em;}
.jd-boxHeader-menu{float:right;}
.ui-ebookRightMenu { float:right; height:100%;}
.ui-project-image { padding-bottom:10px; width:200px; height:200px; }
.jd-splash { display:inline-block; vertical-align:top; border: 1px solid #dddddd; width: 46%; -moz-border-radius: 22px; -webkit-border-radius: 22px; border-radius: 22px;  margin-right: 10px; margin-bottom: 10px; }
.ui-project-next { clear:both; }

.jd-image-frame {display:inline-block; border:1px solid #DDDDDD; padding:10px 10px 20px 10px; margin-right: 5px; margin-bottom: 10px;}
.ui-title {
    display: block;
    border-bottom: 4px solid #000000;
    background: #F2F2F2;
    height: 22px;
    line-height: 22px;
    padding: 4px 6px;
    font-size: 14px;
    color: #000;
    margin-bottom: 13px;
    clear:both;
}
.ui-title-right-area { float:right }
.ui-title-left-area { float:left }

.ui-clear {clear:both;}
.ui-hideError{ display:none; }
.ui-showError{ display:block; }


#rightside-panel { 
	position: absolute; 
	top: 100px; 
	right: 0;
	display: none;
	background: #ffffff;
	border:1px solid #111111;
	width: 70%;
	height: auto;
	min-height: 200px;
	margin: 0px;
	padding: 0px;
	z-index: 50;
}

.ui-list-header {
	background:#D8D8D8;
	border-bottom: 1px solid #000;
	overflow:hidden;
	margin:0;
}
span.ui-list-column100{	display: inline-block; width: 100px; vertical-align: top;}
span.ui-list-column150{	display: inline-block; width: 150px; vertical-align: top; padding:2px 2px;}
span.ui-list-column200{	display: inline-block; width: 200px; vertical-align: top; padding:2px 2px;}
span.ui-list-column350{	display: inline-block; width: 350px; vertical-align: top; padding:2px 2px;}
span.ui-list-column370{	display: inline-block; width: 375px; vertical-align: top;}

ul.jd-list { list-style: none; padding: 0px; margin: 0px; overflow: auto; font-size: 1em; }
ul.jd-list li {border:1px solid #DFDFDF; padding:1em;}
ul.jd-list li .jd-list-subject { cursor: pointer; text-decoration: none; margin: 0px; padding: 0px; line-height: 18px;}
ul.jd-list li .jd-list-button { background-color: #000000; float:right; }
ul.jd-list li.jd-list-even { background: #F0F0F0; }
ul.jd-list li .hidden-sub {background:#f9f9f9; border:1px solid #B8C6D1; padding:10px; margin:10px 0; display:none;}

ul.ui-list {
	list-style: none;  
     padding: 0px;  
     margin: 0px; 
     overflow: auto; 
     font-size: 1em;
}
ul.ui-list li {
	border:1px solid #DFDFDF;
	cursor: pointer;
	text-decoration: none;
	margin: 0px;
	padding: 0px;
}
ul.ui-list li a{  
     padding: 5px 5px;  
     color: #fff;  
     display: block;  
     text-decoration: none;
}
ul.ui-list-menu {
	list-style: none;  
    padding: 0 20px;  
    margin: 0;  
}
ul.ui-list-menu li {
	border:1px solid #dddddd;
	padding: 10px 5px;  
    color: #000;  
    display: block;
    cursor:pointer;  
    text-decoration: none;
}
ul.ui-list-menu li:hover {
	background: #ffffff;
	color:#000; 
}
ul.ui-list-odd {
	
}
ul.ui-list li.ui-list-even {
	background: #F0F0F0;
}

ul.jd-group {
	list-style: none;
    overflow: auto; 
    font-size: 1em;
    padding: 0px;  
    margin: 0px; 
}     
ul.jd-group li {
	text-decoration: none;
	padding:5px 5px 5px 5px; 
	margin-right: 5px;
	margin-left: 5px;
	margin-bottom: 10px;
}

.ui-text-green { color:green; text-align:right}
.ui-text-red { color:red; text-align:right}

.ui-widget-header {
	border:1px solid #497BAE;
	background: -moz-linear-gradient(top, #6FACD5 0%, #5E87B0 44%, #497BAE 100%); /* FF3.6+ */
	/*background: -moz-linear-gradient(top, #7abcff 0%, #60abf8 44%, #4096ee 100%);*/ /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#7abcff), color-stop(44%,#60abf8), color-stop(100%,#4096ee)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #7abcff 0%,#60abf8 44%,#4096ee 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #7abcff 0%,#60abf8 44%,#4096ee 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #7abcff 0%,#60abf8 44%,#4096ee 100%); /* IE10+ */
	background: linear-gradient(top, #7abcff 0%,#60abf8 44%,#4096ee 100%); /* W3C */
}

#pagesRight p,
#pagesRight h2 {
	padding: 3px 35px;
	line-height: 1.4em;
	text-align: justify;
}
#pagesRight h2{
	margin: 15px 0 10px;
}

#pageflip-canvas {
	position: absolute;
	z-index: 100;
}
#book-arrow-right {
	height: 32px;
	width: 32px;
	background: url("/rockychart/img/icons/arrow-right-32.png") no-repeat;
	z-index: 100;
}
#book-arrow-left {
	height: 32px;
	width: 32px;
	background: url("/rockychart/img/icons/arrow-left-32.png") no-repeat;
	z-index: 100;
}

.jd-searchwrapper {
    border: 1px solid #D2D2D2;
    display: inline-block;
    padding: 3px 5px;
    margin-left: 15px;
}

.jd-searchwrapper .jd-searchfield {
	font: 12px/100% Arial,Helvetica,sans-serif;
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #BCBBBB;
    outline: medium none;
    padding: 6px 6px 6px 8px;
    width: 200px;
    height: 12px;
}

.jd-searchwrapper .jd-searchbutton {
    border: 1px solid #494949;
    color: #FFFFFF;
    font-size: 11px;
    height: 25px;
    width: 27px;
}

.thub-meter {
    display: block;
    width: 160px;
    height: 14px;
    background-color: Gray;
    background: #424042; /* Old browsers */
    background: -moz-linear-gradient(left, #424042 0%, #f2f2f2 99%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,#424042), color-stop(99%,#f2f2f2)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left, #424042 0%,#f2f2f2 99%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left, #424042 0%,#f2f2f2 99%); /* Opera11.10+ */
    background: -ms-linear-gradient(left, #424042 0%,#f2f2f2 99%); /* IE10+ */
    background: linear-gradient(left, #424042 0%,#f2f2f2 99%); /* W3C */
    font-size: 12px;
    padding: 2px;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    margin-bottom: 15px;
}

.thub-strong {
    background-color: Green;
    background: #ffff00; /* Old browsers */
    background: -moz-linear-gradient(left, #ffff00 0%, #218400 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,#ffff00), color-stop(100%,#218400)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left, #ffff00 0%,#218400 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left, #ffff00 0%,#218400 100%); /* Opera11.10+ */
    background: -ms-linear-gradient(left, #ffff00 0%,#218400 100%); /* IE10+ */
    background: linear-gradient(left, #ffff00 0%,#218400 100%); /* W3C */
}

.thub-medium {
    background-color: orange;
    background: #ffff00; /* Old browsers */
    background: -moz-linear-gradient(left, #ffff00 0%, #f98900 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,#ffff00), color-stop(100%,#f98900)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left, #ffff00 0%,#f98900 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left, #ffff00 0%,#f98900 100%); /* Opera11.10+ */
    background: -ms-linear-gradient(left, #ffff00 0%,#f98900 100%); /* IE10+ */
    background: linear-gradient(left, #ffff00 0%,#f98900 100%); /* W3C */
}

.thub-weak {
    background-color: yellow;
    background: #ffff00; /* Old browsers */
    background: -moz-linear-gradient(left, #ffff00 0%, #fc1d00 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,#ffff00), color-stop(100%,#fc1d00)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left, #ffff00 0%,#fc1d00 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left, #ffff00 0%,#fc1d00 100%); /* Opera11.10+ */
    background: -ms-linear-gradient(left, #ffff00 0%,#fc1d00 100%); /* IE10+ */
    background: linear-gradient(left, #ffff00 0%,#fc1d00 100%); /* W3C */
}

.no-match {
    color: #FF7B78 !important;
}

.error {
    color: Red;
    display: block;
    margin-left:132px;
}

ul.navSystem { list-style-type: none; overflow: auto; padding: 0; margin: 0; }
ul.sub { list-style-type: none; overflow: auto; padding: 0; margin: 0; }
ul.navSystem li { border:1px solid #dddddd; color: #000; cursor:pointer; margin: 0;}
ul.navSystem li a { display: block; padding: 10px 20px; text-decoration:none;}
ul.navSystem ul.sub li:hover {	background: #ffffff; color:#000; margin: 0;}
a.topLink {
	color:#ffffff; 
	text-align: center; 
	font-size:16px; 
	font-weight:bold; 
	cursor:pointer;
	background: -moz-linear-gradient(top, #6FACD5 0%, #5E87B0 44%, #497BAE 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#7abcff), color-stop(44%,#60abf8), color-stop(100%,#4096ee)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #7abcff 0%,#60abf8 44%,#4096ee 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #7abcff 0%,#60abf8 44%,#4096ee 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #7abcff 0%,#60abf8 44%,#4096ee 100%); /* IE10+ */
	background: linear-gradient(top, #7abcff 0%,#60abf8 44%,#4096ee 100%); /* W3C */
}

/* .jd-icon-plus, .jd-icon-minus, .jd-icon-delete, .jd-icon-arrow-r,
.jd-icon-arrow-l, .jd-icon-arrow-u, .jd-icon-arrow-d, .jd-icon-check,
.jd-icon-gear, .jd-icon-refresh, .jd-icon-forward, .jd-icon-back,
.jd-icon-grid, .jd-icon-star, .jd-icon-alert, .jd-icon-info, .jd-icon-home, .jd-icon-search, .jd-icon-searchfield:after, 
.jd-icon-checkbox-off, .jd-icon-checkbox-on, .jd-icon-radio-off, .jd-icon-radio-on {
	
} */
.jd-icon-alt {
	background-image: url(images/icons-36-black.png);
}
.jd-btn { display: inline-block; text-align: center; cursor:pointer; position: relative; margin: 0; padding: 0;}
.jd-icon-36 {display: inline-block; height: 36px; width: 36px; background-image: url(images/icons-36-white.png);}
.jd-icon-18 {display: inline-block; height: 18px; width: 18px; background-image: url(images/icons-18-white.png);}


.jd-btn-icon-notext { width: 36px; height: 36px; }
.jd-btn-text { position: relative; z-index: 1; width: 100%; -moz-user-select: none; -webkit-user-select: none; -ms-user-select: none; }
.jd-btn-icon-notext .jd-btn-text { position: absolute; left: -9999px; }
.jd-btn-icon-notext .jd-icon { height: 36px; width: 36px; display: block; z-index: 0;}

/* plus minus */
.jd-icon-plus-18 {	background-position: -0 0px;}
.jd-icon-minus-18 { background-position: -36px 0px;}
/* delete/close */
.jd-icon-delete-18 { background-position: -72px 0px;}
/* arrows */
.jd-icon-arrow-r { background-position: -108px 0px;}
.jd-icon-arrow-l { background-position: -144px 0px;}
.jd-icon-arrow-u { background-position:	-180px 0px;}
.jd-icon-arrow-d { background-position:	-216px 0px;}
/* misc */
.jd-icon-check { background-position: -252px 0px;}
.jd-icon-gear-36 { background-position: -572px 0px;}
.jd-icon-refresh { background-position:	-324px 0px;}
.jd-icon-forward { background-position: -360px 0px;}
.jd-icon-back {	background-position: -396px 0px;}
.jd-icon-grid-36 {	background-position: -862px 0px;}
.jd-icon-grid-18 {	background-position: -434px 0px;}
.jd-icon-star-18 {	background-position: -468px 0px;}
.jd-icon-alert { background-position: -504px 0px;}
.jd-icon-info {	background-position: -540px 0px;}
.jd-icon-home-18 {	background-position: -576px 0px;}
.jd-icon-search-18,
.jd-icon-searchfield:after { background-position: -612px 0px;}
.jd-icon-checkbox-off {	background-position: -684px 0px;}
.jd-icon-checkbox-on { background-position: -648px 0px;}
.jd-icon-radio-off { background-position: -756px 0px;}
.jd-icon-radio-on {	background-position: -720px 0px;}
/* checks,radios */

.jd-icon-checkbox-off,
.jd-icon-radio-off { background-color: transparent;}
.jd-checkbox-on .ui-icon,
.jd-radio-on .ui-icon {	background-color: #4596ce /*{global-active-background-color}*/; /* NOTE: this hex should match the active state color. It's repeated here for cascade */}
/* loading icon */
.jd-icon-loading {
	background: url(images/ajax-loader.gif);
	background-size: 46px 46px;
}
.jd-subDir { margin-left: 16px;}
.jd-draft {
	font-style:italic;
	color:red; 
}
.jd-inline { display: inline-block; }

.jd-center-col {width: 528px; text-align: justify; float: left;}
.jd-right-col {width: 250px; float: right; margin: 60px 0px 0px 10px; background: #CCDEE6; font-size: 14px; line-height: 17px; vertical-align:top; }
.jd-footer {clear:both;}


.jd-watchlist-online { color:green; font-size: 14px; line-height: 17px; }
.jd-watchlist-offline { color:gray; font-size: 12px; line-height: 14px; }
.jd-chat-msgtxt { max-height: 100px; height: 100px; }
.jd-chat-msgtxt-me { color:#aaa; font-size: 13px; line-height: 16px; }
.jd-chat-msgtxt-r1 {color:#aaa; font-size: 13px; line-height: 16px; }
.jd-chat-title-r1 { background:#eee; text-align: right;}
.jd-admin-header {
	background-color:black;
    color:white;
    text-align:center;
    padding:5px;
}
.jd-admin-element {
	background-color:green;
    color:white;
    text-align:center;
    padding:2px;
    margin:2px;
}
.jd-admin-element-selected {
	background-color:blue;
    color:white;
    text-align:center;
    padding:2px;
    margin:2px;
}
.jd-admin-nav-component {
	border:1px solid #111111;
}
.jd-admin-nav {
    line-height:30px;
    background-color:#eeeeee;
    width:200px;
    float:left;
    padding:5px; 
}
.jd-admin-main {
    width:650px;
    float:left;
    padding:10px; 
}
.jd-form-table {
	border:1px dashed #111111;
}
.jd-form-cell {
	border:1px dashed #111111;
	width:200px;
	padding:5px;
}
.jd-form-cell-add {
	background-color:#eeeeee;
	border:1px solid #111111;
	width:200px;
	padding:5px;
}
.jd-form-cell-selected {
	background-color:#eeeeee;
	border:1px solid blue;
	width:200px;
	padding:5px;
}
.jd-form-label {
	background:#eeeeee;
    border:none;
}
.jd-layout-chooser {
	line-height:30px;
    background-color:#eeeeee;
    display:inline;
    padding:2px;
}
.jd-layout-chooser-selected {
	background-color:black;
    color:white;
	line-height:30px;
    display:inline;
    padding:2px;
}
#jd-form-property-table {
	border-collapse: collapse;
	border:1px solid #111111;
	font-size:small;
	padding:0px 2px 0px 5px;
	margin:0px;
	
}

 .jd-sortable { list-style-type: none; margin: 0; padding: 0; width: 60%; }
 .jd-sortable li { margin: 0 5px 5px 5px; padding: 5px; line-height: 1.2em; }
 .ui-state-highlight { height: 1.5em; line-height: 1.2em; }
 .jd-btn-flat {
 	font-family: Arial;
	color: #ffffff;
  	background: #3498db;
  	font-size: 1em;
  	padding: 5px 10px 5px 10px;
	text-decoration: none;
 }
 .jd-btn-flat:hover {
  background: #3cb0fd;
  text-decoration: none;
}

/*-- COLUMNS
--------------------------------------------------------------------------------------------------------------------*/
.jd-column-item { display: inline-block; font-size: 1em; margin: 0; vertical-align: top; overflow:auto;}
.jd-column-20 { width: 20px; margin-right:10px;}
.jd-column-50 { width: 50px;}
.jd-column-100 { width: 100px;}
.jd-column-150 { width: 150px;}
.jd-column-200 { width: 198px;}
.jd-column-250 { width: 250px;}
.jd-column-300 { width: 300px;}
.jd-column-400 { width: 400px;}