<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee"
 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
 <context-param>
  <param-name>javax.faces.DEFAULT_SUFFIX</param-name>
  <param-value>.xhtml</param-value>
 </context-param>
 <filter>
  <filter-name>ClientSessionFilter</filter-name>
  <filter-class>org.toasthub.core.general.filter.ClientSessionFilter</filter-class>
 </filter>
 <filter>
  <filter-name>SysAdminAuthFilter</filter-name>
  <filter-class>org.toasthub.core.general.filter.SysAdminAuthFilter</filter-class>
 </filter>
 <filter>
  <filter-name>SysAdminAuthWSFilter</filter-name>
  <filter-class>org.toasthub.core.general.filter.SysAdminAuthWSFilter</filter-class>
 </filter>
 <filter>
  <filter-name>AdminAuthWSFilter</filter-name>
  <filter-class>org.toasthub.core.general.filter.AdminAuthWSFilter</filter-class>
 </filter>
 <filter>
  <filter-name>MemberAuthWSFilter</filter-name>
  <filter-class>org.toasthub.core.general.filter.MemberAuthWSFilter</filter-class>
 </filter>
 <filter-mapping>
  <filter-name>ClientSessionFilter</filter-name>
  <url-pattern>/*</url-pattern>
 </filter-mapping>
 <filter-mapping>
  <filter-name>SysAdminAuthFilter</filter-name>
  <url-pattern>/sysadmin/*</url-pattern>
 </filter-mapping>
 <filter-mapping>
  <filter-name>SysAdminAuthWSFilter</filter-name>
  <url-pattern>/rest/sysadmin/*</url-pattern>
 </filter-mapping>
 <filter-mapping>
  <filter-name>AdminAuthWSFilter</filter-name>
  <url-pattern>/rest/admin/*</url-pattern>
 </filter-mapping>
 <filter-mapping>
  <filter-name>MemberAuthWSFilter</filter-name>
  <url-pattern>/rest/member/*</url-pattern>
 </filter-mapping>
 <session-config>
  <session-timeout>60</session-timeout>
 </session-config>
 <welcome-file-list>
  <welcome-file>index.html</welcome-file>
 </welcome-file-list>
 <security-constraint>
  <display-name>Restrict raw XHTML Documents</display-name>
  <web-resource-collection>
   <web-resource-name>XHTML</web-resource-name>
   <url-pattern>*.xhtml</url-pattern>
  </web-resource-collection>
  <auth-constraint/>
 </security-constraint>
</web-app>
